<div class="d-flex flex-row justify-content-between mb-3">
  <h1>Add a bookmark to <%= @list.name %> list</h1>
  <%= link_to 'Back to list', list_path(@list), class: 'btn btn-secondary d-flex align-items-center' %>
</div>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>

<% p @list %>
<% p @bookmark %>
<hr>

<form class="row row-cols-lg-auto g-3 align-items-center">
  <div class="col-12">
    <label class="visually-hidden" for="inlineFormInputGroupUsername">Comment</label>
    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Comment">
  </div>

  <div class="col-12">
    <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
    <select class="form-select" id="inlineFormSelectPref">
      <option selected>Choose...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
